/* COLORS */

$color-gray: #191970;
$text-color-light: #FEFEFE;
$border-color: #32943C;
$text-color-dark: #000000;

/* GLOBALS */

body {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  background-color: $color-gray;
  color: $text-color-light;
}

button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: $text-color-dark;
  font-size: 20px;
  border: 2px solid $border-color;
  border-radius: 10%;
  transition: all 0.5s;
  margin: 0 10px;
}

button:hover {
  background-color: $border-color;
  color: $text-color-light;
}

i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 60px;
}

h3 {
  font-size: 30px;
  position: relative;

  &::after {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    content: "";
    width: 200px;
    height: 3px;
    background-color: $text-color-light;
  }
}

h4 {
  font-size: 20px;
}

/* HEADER */

.icons {

  div {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 20px;

    h4 {
      margin-top: 10px;
    }
  }
}

/* BUTTONS */

#buttons {
  //margin-bottom: 40px;
}

/* RESULTS */

.results {

}


/* MESSAGES */

#messages {
  //margin-top: 20px;
}
