$color-gray: #191970;
$text-color-light: #FEFEFE;
$border-color: #32943C;
$text-color-dark: #000000;

body {
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  background-color: $color-gray;
  color: $text-color-light;
}

button {
  width: 100px;
  height: 50px;
  background-color: white;
  color: $text-color-dark;
  font-size: 20px;
  border: 2px solid $border-color;
  border-radius: 10%;
}



i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 60px;
}

.icons {

  div {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 20px;

    h3 {
      margin-top: 10px;
    }
  }
}

#buttons {
  margin-bottom: 20px;
}
